<center><h1>Editing task</h1>

<%= render 'form' %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
</center>
<br><br><br><br><br><br><hr><footer>John Victor Sosito and Paolo Gabriel Alilam 2013</footer>
