<body background="pogiproblems.png"><marquee><font size=30><h1>Hi! Bonjour! Hola! Welcome to projectPOGI</h1></font></marquee>
<center>
<p>
	The creators of projectpogi are none other then the pogis themselves: <br>
	<b><u>JOHN VICTOR SOSITO</u></b> and <b><u>PAOLO GABRIEL ALILAM</u></b><br>


	to know more about projectpogi and #pogiproblems you can follow us on twitter at
	<br><br>
	<a href="https://twitter.com/justcallmeboj">@justcallmeboj</a> and <a href="https://twitter.com/_paologabriel">@_paologabriel</a><br><br><br>

	Sa sobrang pogi namin hanggang bare minumum(ata) lang kami. <font size=24><a href="http://24.media.tumblr.com/7413c113bc8298b7dbb39f22307b4e53/tumblr_mmig92Xgbo1rqrsmoo1_500.jpg">#POGIPROBLEMS<a></font><br><br>
	Oo nga pala paki-type nalang yung "/tasks" sa dulo ng localhost:3000. Medyo mahirap kasi maglink e. #POGIPROBLEMS
	<br>
	<br>
	<b>"90% ng problema mo ay imbento lang" - Ramon Bautista</b>
</p>
</center>
<br><br><br><br><br><br><hr><footer>John Victor Sosito and Paolo Gabriel Alilam 2013</footer></body>